/* Estilos para la página de registro de San Valentín */

/* Estilos generales */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Tahoma;
  font-size: 18px;
  background-image: url("https://images.pexels.com/photos/6478861/pexels-photo-6478861.jpeg");
  background-size: cover;
  background-color: #ffb3b3; /* Fondo rosa */
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

/* Estilos del formulario */
form {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #a52019;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: #a52019;
  color: #ffffff;
  border: 1px solid #a52019;
}

/* Cambiar el color del marcador de posición solo para el textarea */
textarea::placeholder {
  color: #ffffff; /* Blanco */
}

/* Ajuste de estilos para los botones de radio */
input[type="radio"],
label[for="personal-account"],
label[for="business-account"] {
  margin-top: 10px; /* Ajustar el margen superior de los botones de radio y las etiquetas */
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #a52019;
  border-color: #a52019;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

/* Estilos para los enlaces */
a {
  color: #a52019;
}

/* Estilos para el marcador de posición */
#textarea::placeholder {
  color: white;
}


textarea::placeholder {
  color: #ffffff; /* Cambiar el color del marcador de posición a blanco */
}
